<launch>
  <arg name="record_cameras" default="true" />

  <!-- <node pkg="rosbag" type="record" name="rosbag_record_cam" -->
  <node pkg="rosbag" type="record" name="$(find slam_exploration)/rosbags/camera_raw.bag"
        args="record -o ardrone/front/image_raw"
        if="$(arg record_cameras)" />
</launch>
