
<launch>
  <!-- FULL launch commands -->
  <!-- roslaunch slam_exploration slam_exploration.launch -->
  <!-- roslaunch slam_exploration slam_exploration.launch time_now:=$(date +%Y-%m-%d-%H-%M-%S) -->
  <!-- roslaunch slam_exploration slam_exploration.launch record_camera:=false -->

  <arg name="mav_name" default="firefly"/>
  <arg name="time_now" default="temp" />
  <arg name="record_camera" default="true" />

  <!-- ARDRONE -->
  <include file="$(find ardrone_autonomy)/launch/ardrone.launch" />

  <!-- CONTROLLER  -->
  <group ns="$(arg mav_name)">
  <!-- Launch your nodes here. Extend / adapt for the subtask at hand, if necessary. -->
    <node name="controller" pkg="rotors_exercise" type="controller_node" clear_params="true" output="screen">
      <remap from="pose_with_covariance" to="ground_truth/pose_with_covariance"/>
      <remap from="imu" to="/ardrone/imu" />

      <param name="cog_z" type="double" value="0.08" />
      <param name="filtering" type="bool" value="true" />
      <param name="enable_ros_info" type="bool" value="true" />

      <rosparam file="$(find rotors_exercise)/controller.yaml"/>
    </node>
  </group>

  <!-- WAYPOINT publisher -->
  <group ns="$(arg mav_name)">
    <node name="waypoint_generator" pkg="slam_exploration" type="waypoint_generator_node" output="screen">
      <remap from="imu" to="/ardrone/imu" />
    </node>
  </group>

  <!-- Camera ROSBAG generation -->
  <node pkg="rosbag" type="record" name="rosbag_camera_raw"
      args="record -O $(find slam_exploration)/rosbags/camera_raw_$(arg time_now).bag ardrone/front/image_raw"
      if="$(arg record_camera)" />
</launch>
